<div class="container">
	<input type="checkbox" name="check" id="check"/>
	<div class="logo-container">
		{# <a href="/"><img class="logoBada" src="uploads/logo-bada-437d061c-b6dc-4077-a8c3-42ae8d8f322b.avif" alt=""></a> #}
		<a class="logo" href="127.0.0.1:8000/" alt="Badaboum theatre">Badaboum<span>THÉÂTRE</span></a>
	</div>
	<div class="nav-btn">
		<div class="nav-links">
				{% for menu in menus %}
					{% if menu.isVisible == 1 %}
						<li class="nav-link">
							<a href="
								{{ menu.link }}
								">{{ menu.name|capitalize }}</a>
							{% if menu.subMenuses is not empty %}
								<div class="dropdown">
									<ul>
										{% for subMenu in menu.subMenuses %}
											{% if subMenu.isVisible == 1 %}
												<li class="dropdown-link">
													<a href="
														{{ subMenu.link }}
														">{{ subMenu.name|capitalize }}</a>
												</li>
												<div class="arrow"></div>
											{% endif %}
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="hamburger-menu-container">
			<div class="hamburger-menu">
				<div></div>
			</div>
		</div>
	</div>
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<a class="dashboard" href="{{path('admin')}}">Tableau de bord</a>
	{% endif %}

	{# NEWSLETTER #}
	{# <button id="btnNewsletter" class="logoNewsletter">N</button>
	<form action="" class="formNewsletter"></form> #}
