{# <p>bonjour</p>
{% for article in articles %}
	{% if article.article_order == 1 and article.featured_image_id is not empty %}
		{% set matchingMedia = null %}
		{% for media in mediaList %}
			{% if article.featured_image_id == media.id %}
            {% set matchingMedia = media %}
            {% endif %}
        {% endfor %}
        {% if matchingMedia is not null %} #}
            {# ~ => concaténation #}
    {#         <div class="bg-actu" style="background-image: url('{{ asset('media/' ~ matchingMedia.filename) }}')">
                <h3 class="actu-banner">Actuellement</h3>
                <a href="127.0.0.1:8000/article/{{article.slug}}"></a> #}
                {# Lorsque le site sera en ligne
                <a href="badaboum-theatre/article/{{article.slug}}"></a> #}
     {#            <p>{{article.dates}}</p>
                <p>{{article.age}}</p>
                <h1>{{article.title}}</h1>
            </div>
			{% endif %}
	{% endif %}
{% endfor %} #}

{% block stylesheets %}

<link rel="stylesheet" href=" {{ asset('/css/article.css') }}">
{% endblock %}
<div class="bg-actu">
    <div class="actu">
        <h1 class="actu-banner">La saison a commencé!</h1>
            <div class="flex">
                <a class="actuText" href="#cours" alt="Inscription aux cours et aux stages">Inscription aux cours / stages</a>
                <p>À partir de 4 ans.</p>
            </div>
        
    </div>
</div>
















{# 
<div class=" {% if article.order == 1 and article.featured_image_id is not empty %}bg-actu " 
{% if article.featured_image_id == media.id %}
    {% set background_image_url = asset('uploads/' ~media.filename) %}

{% endif %}
{% endif %}>

    <a class="actu" href=""></a>

</div>

{% for article in articles %}
    {% set background_image_url = '' %}
    {% if article.order == 1 and article.featured_image_id is not empty %}
        {% for media in mediaList %}
            {% if article.featured_image_id == media.id %}
                {% set background_image_url = asset('media/' ~ media.filename) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <div class="article" style="{% if background_image_url %}background-image: url('{{ background_image_url }}');{% endif %}">
        <!-- Contenu de l'article ici -->
    </div>
{% endfor %}
<div class="bg-header">

</div>
 #}
