<?php

    <h1>Liste des Sous-menus</h1>

        <ul>
            {% for subMenu in subMenus %}
                <li>
                    <strong>Nom :</strong> {{ subMenu.name }}<br>
                    <strong>Ordre :</strong> {{ subMenu.submenu_order }}<br>
                    <strong>Visible :</strong> {{ subMenu.is_visible ? 'Oui' : 'Non' }}<br>
                    <strong>Lien :</strong> {{ subMenu.link ?: 'Aucun' }}<br>
                    <strong>Article lié :</strong> {{ subMenu.article ? subMenu.article.title : 'Aucun' }}<br>
                    <strong>Catégorie liée :</strong> {{ subMenu.category ? subMenu.category.name : 'Aucune' }}<br>
                    <strong>Menu parent :</strong> {{ subMenu.menu ? subMenu.menu.name : 'Aucun' }}<br>
                </li>
            {% endfor %}
        </ul>