<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Badaboum Théâtre -
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">


		{% block stylesheets %}
			{# <link rel="stylesheet" href=" {{ asset('css/') }}"> #}
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>

		{# NAVBAR ADMIN #}
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<nav class="py-2 bg-dark border-bottom">
				<div class="container d-flex flex-wrap">

					<div class="dropdown">
						<a class="nav nav-link dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Badaboum Theatre
						</a>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminDashboard">
							<li>
								<a class="dropdown-item" href="{{path('admin')}}">Tableau de bord</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		{% endif %}
		{# FIN DE NAVBAR ADMIN #}

		{# NAVBAR PUBLIC #}
		{{ include ('menu/nav.html.twig') }}
		{# FIN DE NAVBAR PUBLIC #}
	</body>
</html></header>{% block body %}{% endblock %}{# FOOTER #}{# CONNEXION #}<ul>
{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
	<li>
		<a href="{{path('app_register')}}" aria-current="page">S'inscrire</a>
	</li>
	<li>
		<a href="{{path('app_login')}}" aria-current=" page">Se connecter</a>
	</li>
{% else %}
	<div>
		<a href="#" role="button" aria-expanded="false">
			{{ app.user.username|capitalize }}
		</a>
		<ul>
			<li><ahref="{{path('app_logout')}}">Déconnexion</a></li>
		</ul>
	</div>
{% endif %}

<footer>
	<div>
		<span>©
			{{ 'now'|date('Y') }}
			-  Crée par Yacine Djahafi. Tous droits réservés.</span>
	</div>
</footer>
{# FIN DE FOOTER #}</body></html>
