<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>
			{% block title %}{% endblock %} -
			Badaboum Théâtre 
		</title>
		<link rel="icon" href="data:image/svg+xml,
		<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
		<text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			<link rel="stylesheet" href=" {{ asset('/css/header.css') }}">
			<link rel="stylesheet" href=" {{ asset('/css/footer.css') }}">
			<link rel="stylesheet" href=" {{ asset('/css/nav.css') }}">
			<link rel="stylesheet" href=" {{ asset('/css/article.css') }}">
			<link rel="stylesheet" href=" {{asset('/css/show.css') }}">
			<link rel="stylesheet" href="{{asset('/css/cours.css')}}">
			<link rel="stylesheet" href="{{asset('/css/desktop.css')}}">
		{% endblock %}

		{% block javascripts %}
			<script src="{{ asset('js/script.js') }}"></script>
		{% endblock %}
	</head>
	<body>
		<header>
			{% include "header/nav.html.twig" %}
		</header>

		{% block body %}
		<main>
			{% include "home/index.html.twig" %}
		</main>
		{% endblock %}
		{% include "footer/footer.html.twig" %}
	</body>
</html>
