{# TEMOIN A SUPPRIMER #}

<ul class="bg-dark dropdown d-flex">
	{% for menu in menus %}
		<li class="nav nav-link dropdown-toggle text-white">
			{{ menu.name }}
			{% if menu.subMenuses is not empty %}
				<ul>
					{% for subMenu in menu.subMenuses %}
						<li>
							<a href="">
								{{ subMenu.name }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>



{# TEST #}
{# <nav class="py-2 bg-dark border-bottom"> #}
{#	<div class="container d-flex flex-wrap"> <ul class="dropdown d-flex">
		{% for menu in menus %}
			<li class="nav nav-link dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				<a href="  {{ menu.link}}  ">{{ menu.name }}</a>

				{% if menu.subMenuses is not empty %}
					<ul class="dropdown-menu">
						{% for subMenu in menu.subMenuses %}
							<li>
								<a class="dropdown-item" href=" {{ subMenu.link }} ">{{ subMenu.name }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</div> #}
{# </nav> #}



{# 
<h4>Liste des Menus</h4>

    <ul>
        {% for menu in menus %}

            <ul class="nav nav-pills align-items-center">
                <li class="nav-item">
                    <a href="{{menu.link}}" class="nav-link text-dark" aria-current="page">{{ menu.name }}</a>
                    <ul>
                    {% for subMenu in menu.subMenus %}
                        <li>{{ subMenu.name }}</li> 
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
    </ul>

    <h1>Liste des Sous-menus</h1>

    <ul>
        {% for subMenu in subMenus %}
            <li>
                <strong>Nom :</strong> {{ subMenu.name }}<br>

            </li>
        {% endfor %}
    </ul> #}

{# {% if subMenu in menu.subMenus %}
                    {% for subMenu in menu.subMenus %}
                    <li class="nav-item">
                        <a href="#" class="nav-link text-dark" aria-current="page"> Se connecter </a>
                    </li>
                    {% endfor %}
                    {% endif %} #}
{#  <li>
                <strong>Nom :</strong> {{ menu.name }}<br>
                <strong>Ordre :</strong> {{ menu.menuOrder }}<br>
                <ul>
                    {% for subMenu in menu.subMenus %}
                        <li>{{ subMenu.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %} #}
