{# SUR PAGE D'ACCUEIL #}


{% if article.featuredImage %}
	<a class="posterContainer" href="{{ path('article_show', { 'slug': article.slug }) }}">
		<img draggable="false" src="/uploads/{{ article.featuredImage.filename }}" 
		alt="{{ article.featuredImage.altText }}" width="200" height="180">
	</a>
	<div class="hover">
		<h2 class="featuredText hover">
			<a href="{{ path('article_show', { 'slug': article.slug }) }}">
				{{article.title|striptags}}
			</a>
		</h2>
		<p class="featuredText slideInfos">
			{{ article.dates|capitalize|striptags}}
		</p>
		<p class="featuredText">
			{{ article.age|capitalize|striptags}}
		</p>
	</div>
{% endif %}
