{% extends 'base.html.twig' %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block body %}

	<div class="container">
		<h1>{{article.title}}</h1>
		<hr>
		<img src="/uploads/{{ article.featuredImage.filename }}" alt="{{ article.featuredImage.altText}}" loading="lazy" width="{{300}}" height="300">
		{{article.content|raw}}
	</div>


{% endblock %}
