{% extends 'base.html.twig' %}
{# STRUCTURE DE CHAQUE ARTICLE EN DETAIL #}
{% block title %}
	{{article.title|capitalize}}
{% endblock %}
{% block body %}
	<article>
		<h1 class="showTitle">{{article.title|striptags('<a><h1>')}}</h1>
		<div class=" showArticle">
			{% if article.featuredImage is not null and article.featuredImage.filename is not null %}
				<img class="imgArticle" src="/uploads/{{ article.featuredImage.filename}}" alt="{{ article.featuredImage.altText}}" loading="lazy" width="300" height="300">
			{% elseif article.featuredImage is not null and article.featuredImage.filename is null %}
				<img class="imgArticle" src="/uploads/{{ article.featuredImage.filename}}" loading="lazy" width="300" height="300">
			{% endif %}
			<p class="articleContent">{{article.content|striptags}}</p>
		</div>
	</article>
{% endblock %}
