
<link rel="stylesheet" href="{{ asset('/css/style-api.css') }}" />

<div class="container">
    <input type="checkbox" name="check" id="check"/>
    <div class="logo-container">
        <h3 class="logo">Badaboum<span>THÉÂTRE</span></h3>
    </div>
  
  {# NAV BAR #}
	<div class="nav-btn">
		<div class="nav-links">
			<ul>
				{% for menu in menus %}
				<li class="nav-link">
					<a href="
					{# METTRE LIEN MENU #}
					{# {{ menu.link }} #}
					">{{ menu.name|capitalize }}</a>
					{% if menu.subMenuses is not empty %}
				
					<div class="dropdown">
						<ul>
							{% for subMenu in menu.subMenuses %}
							<li class="dropdown-link">
								<a href="
								{# {{ subMenu.link }} #}
								">{{ subMenu.name|capitalize }}</a>
							</li>
						<div class="arrow"></div>
						{% endfor %}
						</ul>
					{% endif %}
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	<div class="hamburger-menu-container">
		<div class="hamburger-menu">
			<div></div>
		</div>
	</div>
</div>


{# MODELE DE BASE #}

{# <ul class="bg-dark dropdown d-flex">
	{% for menu in menus %}
		<li class="nav nav-link dropdown-toggle text-white">
			{{ menu.name }}
			{% if menu.subMenuses is not empty %}
				<ul>
					{% for subMenu in menu.subMenuses %}
						<li>
							<a href="">
								{{ subMenu.name }}</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
</ul>
 #}

